// textarea {
//   width: 100%;
//   border: 0.2rem solid $mediumgray;
//   padding: 0.5rem;

//   min-height: 105px;
//   margin-bottom: 2rem;
// }

// label[for='text-input'] {
//   display: flex;
//   justify-content: space-between;
// }

// .remaining {
//   font-size: 80%;
//   font-weight: normal;
// }

input,
select,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
