$global-width: 40em;

// General elements
// ================

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: underline;
}

/* Buttons */

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  display: inline-block;
  background-color: $black;

  color: $white;
  font-weight: bold;

  padding: 0.5rem 1rem 0.75rem;
  line-height: 1;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

button.button {
  border: none;
}

// Main content
// ============

.content {
}
