.header {
  display: flex;

  background: $black;
  color: $white;
  line-height: 1;

  box-shadow: 0 0 3px $black;
}

.header__title {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  margin-right: auto;
  margin-bottom: 0;
}

.header__button {
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;

  &:hover {
    background-color: lighten($black, 30%);
  }
}

.header__button--reload {
  font-size: 2rem;
  line-height: 1;
}
