@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.messages {
  padding: 1rem 1rem 0;
  list-style: none;
}

.message {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
  margin-bottom: 1rem;

  color: $white;
  font-weight: $font-weight-bold;

  animation: fade-in 0.2s ease-out;
}

.message--info {
  background-color: $jordy-blue;
}

.message--success {
  background-color: $fern;
}

.message--error {
  background-color: $bittersweet;
}

.message__close {
  border: 1px solid $white;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  line-height: 1;

  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
