.settings {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: transparentize($black, 0.25);
}

.settings__form {
  padding: 2rem;
  margin: 4rem auto 0;
  max-width: $global-width;
  background-color: $white;
}
