.timers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;

  padding: 1rem;

  label {
    font-weight: $font-weight-bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0.25rem;
    color: lighten($black, 20%);
  }
}

.timer {
  position: relative;

  border: 2px solid $black;
  padding: 1rem;

  grid-column: span 1;
}

.timer--running {
  border-color: $key-lime-pie;
}

.timer__buttons {
  display: flex;
  justify-content: space-between;
}

.timer__time-wrapper {
  margin-bottom: 1rem;
  text-align: center;
}

.timer__time {
  display: block;
  font-size: 0.875rem;
}

.timer__decimal-hours {
  display: block;

  font-size: 1.375rem;
  font-weight: $font-weight-bold;
}

.timer__remove {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  background-color: $black;
  color: $white;

  width: 1rem;
  height: 1rem;
  line-height: 1;
  border-radius: 50%;
}
