$font-main: 'Open Sans', sans-serif;

$body-font-size: 1rem;
$body-line-height: 1.5;
$headings-line-height: 1.09;

$font-weight-bold: 600;

%heading-font-styles {
  margin-bottom: 1rem;
  line-height: $headings-line-height;
  font-weight: $font-weight-bold;
}

%h1-font-size {
  font-size: 1.5rem;
}

%h2-font-size {
  font-size: 1.25rem;
}

%h3-font-size {
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  @extend %heading-font-styles;
}

h1 {
  @extend %h1-font-size;
}

h2 {
  @extend %h2-font-size;
}

h3 {
  @extend %h3-font-size;
}

small {
  font-size: 0.875rem;
}

body {
  font-family: $font-main;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $black;

  @media #{$small-devices} {
    font-size: 1rem;
  }
}

input,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  color: $black;
}
